@font-face {
    font-family: "Georgia";
    src: url("fonts/Georgia\ Regular\ font.ttf") format("ttf");
}
@font-face {
    font-family: "Georgia";
    src: url("fonts/georgia\ bold.ttf") format("ttf");
}
@font-face {
    font-family: "Georgia";
    src: url("fonts/georgia\ italic.ttf") format("ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Georgia";
    src: url("fonts/georgia\ bold\ italic.ttf") format("ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    font-family: "Georgia";
    transition: 0.3s all ease;
}

#bg-img {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

#header {
    border-top: 5px solid #76c38f;
    /* background-color: #290000; */
    padding-top: 40px;
}
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

#myDIV li a {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 13px 20px;
}

#navbarNav ul li {
    padding:0 5px;
}
.navbar-nav .active {
    background-color: #76c38f;
    border-radius: 11px;
}

.carousel-item h1 {
    font-size: 46px;
    line-height: 46px;
    color: #ffffff;
    font-weight: bold;
}
.carousel-item p {
    font-size: 12px;
    line-height: 19px;
    color: #979797;
}
.carousel-item img {
    width: 380px;
    height: 380px;
    border: 15px solid #6b6b6b;
    border-radius: 50%;
}
#slider {
    /* background-color: #290000; */
}

.btn-highlight {
    border-radius: 11px;
    background-color: #76c38f;
    font-size: 13px;
    color: #ffffff;
    padding: 10px;
}

.carousel-control-next-icon {
    background-image: url("images/slider/right-algin.png");
}

.carousel-control-prev-icon {
    background-image: url("images/slider/left-align.png");    
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
}

#service, #latest-work {
    /* background-color: #660000; */
}

.service h2 {
    color: #333333;
    font-size: 32px;
    text-transform: uppercase;
}
.service p {
    font-size: 12px;
    line-height: 17px;
    color: #979797;
}

.service {
    background-color: #ffffff;
    opacity: 0.7;
    width: 225px;
    text-align: center;
}

.service a {
    font-size: 120px;
    background-color: #333333;
    color: #000000;
}

.service:hover {
    background-color: #76c38f;
}
.service:hover h2 {
    color: #ffffff;
}
.service:hover p {
    color: #ffffff;
}
.service:hover a {
    background-color: #ffffff;
}

.latest-work h2 {
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
}
.latest-work span {
    background-color: #303030;
    padding: 10px 20px;
    border-radius: 11px;
    display: inline-block;
}


.latest-work h2:before,
.latest-work h2:after {
    background-color: #303030;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.latest-work h2:before {
    margin-left: -50%;
}

.latest-work h2:after {
    margin-right: -50%;
}

.latest-work .img-box {
    width: 290px;
    height: 190px;
    background-color: #353535;
    border: 10px solid #ffffff;
}

.latest-work .img-box:hover {
    border: 10px solid #76c38f;
    cursor: pointer;
}

.latest-work .img-box:hover h4 {
    display: none;
}

.latest-work h4 {
    background-color: #000000;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 0em;
    text-align: center;
    color: #ffffff;
    width: 100%;
}


.contact {
    background-color: #303030;
    border-bottom: 1px solid #000000;
}

.foot h6 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 20px;
}

.foot p {
    font-size: 13px;
    line-height: 21px;
    color: #979797;
}

.about-us img {
    width: 215px;
    height: 90px;
}

.img-thumbnail {
    background-color: #1a1a1a;
    border: 1px solid #555555;
}

.read-more {
    font-size: 13px;
    line-height: 16px;
    color: #76c38f;
}

.quick-links ul li {
    border-bottom: 1px solid #404040;
    padding-left: 20px;
}

.quick-links ul li a {
    font-size: 13px;
    line-height: 34px;
    color: #76c38f;
}

.quick-links  ul {
	position: relative;
	list-style: none;
    margin-left: 0;
}
.quick-links  ul li:before {
	content: ">>";
	position: absolute;
    left: 0;
    color: #979797;
    font-size: 10px;
    padding-top: 7px;
}

.latest-blog-post p {
    font-size: 13px;
    line-height: 21px;
    color: #979797;
}

.latest-blog-post p span {
    color: #76c38f;
}

.foot input, textarea.form-control {
    margin-bottom: 12px;
    background-color: #222222;
    border: none;
    border-radius: 11px;
}
.foot input:focus {
    background-color: #76c38f;
}
.foot input [placeholder]{
    font-size: 13px;
    line-height: 16px;
    color: #989898;
}


.footer-bg {
    background-color: #2b2b2b;
    border-top: 1px solid #3A3A3A;
}

.footer p {
    font-size: 13px;
    line-height: 12px;
    color: #979797;
    margin-bottom: 0rem;
}


.about-us h5 {
    font-size: 13px;
    line-height: 16px;
    color: #76c38f;
}

.about-us small {
    font-size: 10px;
    line-height: 12px;
    color: #666666;
}
.about-us small span {
    color: #76c38f;
}

